<ul class="book-list" data-ng-hide="listDisplayModeEnabled">
    <li class="book-list" data-ng-repeat="bk in books | limitTo: pageSize : (currentPage -1)*pageSize">
      <img class="cover-image" src="assets/images/alc.jpg">
      <div class="cover">
          <div class="cover-overlay">
          </div>
      </div>

      <strong class="title" title="{{bk.title}}">{{bk.title}}</strong>
      <small class="year">{{bk.author}}</small>
    </li>
</ul>

<div class="row show-hide-animation" data-ng-show="books.length > 0">
  <div class="col-md-12">
    <div data-pagination
      data-total-items="books.length"
      data-ng-model="currentPage"
      data-items-per-page="pageSize"
      data-boundary-links="true"
      class="paginator">
    </div>
  </div>
</div>


