<div class="customers view indent">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="navbar">
          <ul class="nav navbar-nav">
            <li data-ng-class="{active: !listDisplayModeEnabled}" class="toolbaritem">
            <a data-ng-click="changeDisplayMode(DisplayModeEnum.Cover)">
              <span class="glyphicon glyphicon-th-large"></span> Cover View
            </a>
            </li>
            <li data-ng-class="{active: listDisplayModeEnabled}" class="toolbaritem">
            <a data-ng-click="changeDisplayMode(DisplayModeEnum.List)">
              <span class="glyphicon glyphicon-align-justify"></span> List View
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row cardContainer show-hide-animation" data-ng-hide="listDisplayModeEnabled">
        <div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="bk in books | limitTo:20">
          <!--data-ng-class="vm.cardAnimationClass"-->
          <div class="card">
            <div class="cardHeader"><a href="#book/something" class="white">{{bk.title}}<i class="icon-edit icon-white editIcon"></i></a></div>
            <div class="cardBody">
              <div class="clearfix">
                <div class="pull-left cardBodyLeft">
                  <a href="#/customeredit/" class="white"><img ng-src="{{bk.cover}}" class="cardImage" /></a>
                </div>
                <div class="pull-left cardBodyRight">
                  <div class="cardBodyContent">{{bk.author}}</div>
                  <div>
                    <a href="#/customerorders/" class="btn-link">
                      99
                      <!--<span data-ng-pluralize count="customer.orderCount"-->
                        <!--when="{'1': 'Order','other': 'Orders'}">-->
                      <!--</span>-->
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="row show-hide-animation">
          <!--data-ng-show="vm.customers.length > 0">-->
          <div class="col-md-12">
            <!--<div data-pagination-->
              <!--data-on-select-page="vm.pageChanged(page)"-->
              <!--data-total-items="vm.totalRecords"-->
              <!--data-page="vm.currentPage"-->
              <!--data-items-per-page="vm.pageSize"-->
              <!--data-boundary-links="true"-->
              <!--class="pagination-sm"></div>-->
            <!--<h5>Showing {{ vm.filteredCount }} of {{ vm.totalRecords}} total customers</h5>-->
            <h5>Showing 20 of 100 total Books</h5>
          </div>
        </div>
      </div>

      </div>
      <div class="row gridContainer customersTable show-hide-animation" data-ng-show="listDisplayModeEnabled">
        <div class="col-md-10">
          <div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th data-ng-click="setOrder('id')">Rank</th>
                  <th data-ng-click="setOrder('title')">Name</th>
                  <th data-ng-click="setOrder('author')">Author</th>
                  <th>Genre</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="bk in books | orderBy:orderby:reverse" class="repeat-animation">
                <td>{{bk.id}}</td>
                <td><a href="#/customeredit/">{{bk.title}}</a></td>
                <td>{{bk.author}}</td>
                <td>Horror </td>
                <td></td>
                <!--<td><button class="btn btn-danger" data-ng-click="vm.deleteCustomer(customer.id)">Delete</button></td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br />
  </div>
</div>
