<div class="customers view indent">
  
  <div class="flexsearch">
      <div class="flexsearch--wrapper">
          <div class="flexsearch--input-wrapper">
            <nit-advanced-searchbox ng-model="query" focus="focus" parameters="availableSearchParams" placeholder="Add Books..."></nit-advanced-searchbox>
          </div>
      </div>
  </div>

  <br>
    
  <ul class="booksearch container" ng-show="searchReturn">
    <li ng-repeat="book in books"
        class="thumbnail">
      <a href="">{{book.title}}</a>
      <p>{{book.author}}</p>
    </li>
  </ul> 

  <div class="container" ng-hide="searchReturn">
    <view-selecter></view-selecter>
    <div class="container">
      <cover-view></cover-view>
      <list-view><list-view>
    </div>
    <br /><br /><br />
  </div>
</div>
